/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root {
    --main-color: #0aad0a;
    --light-color: #f0f3f2;
    --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
        rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
        rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
    --font-family: 'Encode Sans Expanded', sans-serif;
    --rating-color: #ffc908;
}

body {
    font-family: var(--font-family) !important;
}
ul {
    list-style: none;
}
.rating-color {
    color: var(--rating-color);
}
.cursor-pointer {
    cursor: pointer;
}
a,
a:hover {
    color: black;
    text-decoration: none;
}
.product {
    transition: 0.4s;
    transition-property: transform, border;
    border: solid 1px #0000;
}
.product img {
    transition: 0.8s transform;
}
.product:hover img {
    transform: scale(1.1);
}
.product:hover {
    border: solid 1px var(--main-color);
    box-shadow: var(--shadow);
}
.product .btn {
    transition: transform 0.5s, opacity 0.5s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn {
    opacity: 1;

    transform: translateY(0%);
}
.font-sm {
    font-size: 14px;
}
.text-main {
    color: var(--main-color);
}
.bg-main {
    background-color: var(--main-color) !important;
}
.bg-main-light {
    background-color: var(--light-color) !important;
}
.fs-7 {
    font-size: 0.9rem;
}
.fs-8 {
    font-size: 0.8rem;
}

.btn-main {
    background-color: var(--main-color);
    transition: 0.4s;
    color: White;
    border: 1px #0000 solid;
}
.btn-main:hover {
    background-color: white;
    color: var(--main-color);
    border-color: var(--main-color);
}
.zoom {
    width: 25%;
    height: 25%;
    border: 1px #8e9b97 solid;
    position: absolute;
    transition: 0.1s;
}
.pro img {
    transition: 0.4s;
}
.proActive {
    border: var(--main-color) 2px solid !important;
}
.proActive img {
    transform: scale(1.1);
}
.categorySlider {
    height: 500px;
}
@media screen and (max-width: 992px) {
    .categorySlider {
        height: auto;
    }
}
.min-vh-75 {
    min-height: 75vh;
}
.cart-empty {
    background: #f8f8f8;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    width: 100dwh;
    min-height: calc(100vh - 70px);
}
